.tab-item-animate {
  position: absolute;
  width: 50%;
  transform-origin: 0 0;
  transition: transform 0.25s;
}

.tabs .tabs-item:first-child.active ~ .tab-item-animate {
  transform: translateX(0);
}

.tabs .tabs-item:nth-child(2).active ~ .tab-item-animate {
  transform: translateX(100%);
}